.info {
	background-color: gray;
}

.error {

	 background-color: #fa4d27;
}

.warn {
	 background-color: #ffb146;

}

html {
	background-color: black;
}

div {

	    
		border-radius: 5px;
		position: relative;
		font-size: 1vw;
		margin-bottom: 5px;
		color:white;
		text-align: center;
		vertical-align: middle;
		height:4vw;
        line-height: 4vw;
        text-overflow: break-word;
}

div p {
	width: 100%;
	height: 100%;
}


div:hover {
	 		height:4.5vw;
	 		font-size: 1.1vw;
            line-height: 4.5vw;
	  
}