.info {

	 background-image: linear-gradient(lightgray, black);
}

.error {
	 background-image: linear-gradient(red, black);
}

.warn {
	 background-image: linear-gradient(yellow, black);
	 vertical-align: middle;
}

html {
	background-color: black;
}

div {

	    
		border-radius: 5px;
		position: relative;
		font-size: 1.9vw;
		margin-bottom: 5px;
		color:white;
		text-align: center;
		vertical-align: middle;
		height:5vw;
        line-height: 5vw;
}


div:hover {
	 transform: scale(1.5);
}