.info {

	background-color: gray;

}

.error {
	background-color: red;
}

.warn {
	background-color: yellow;
}

div {

	    height: 8%;
		box-shadow: 10px 10px 8px 10px #FFFFFF;
		position: relative;
}