


body {
	background-color: black;
}

.info {
	background-color: green;
}

.error {
	 background-color: #fa4d27;
}

.warn {
	 background-color: #ffb146;

}

.debug {
	background-color: gray;
}

.trace {
	background-color: #2171fc;
}

 button
{
	width: 10%;
	height: 5%;
	text-align: center;
	border-radius: 5px;
	margin-left: 5px;
	border-width: 5px;
	outline: 0;
}

h3 {

	color: white;
	display: inline-block;
}


div {
		margin-left: auto;
		overflow: hidden;
		border-radius: 5px;
		position: relative;
		font-size: 1vw;
		line-height: 1.5vw; 
		height:3vw;
		width:  99%;
		margin-bottom: 5px;
		color:white;       
}

p {
		height: 100%;
	  	white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;

}

div:hover {
	 		height:3.5vw;
	 		font-size: 1.1vw;
            line-height:2vw;
	  
}